<p>layout works!</p>
<div>
  <button routerLink="login">Login</button>
  <button routerLink="register">Register</button>
  <button routerLink="registrarse">Pedir membresia</button>
</div>

<div *ngIf="user">
  <p>Nombre: {{ user.displayName || 'Nombre no especificado'}}</p>
  <p>Apellido: {{user.lastName || 'Apellido no encontrado'}}</p>
  <p>Email: {{ user.email }}</p>
  <p>ID de afiliado: {{user.uid}}</p>
  <p>Numero de afiliado: {{user.membershipNumber || 'Numero no encontrado'}}</p>
  <p>Telefono: {{user.phoneNumber}}</p>
  <p>Empresa: {{user.company}}</p>
</div>
