<!-- modal-password.component.html -->
<div class="modal rounded" [ngClass]="{ show: showModal }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-end">
        <img src="../../../../assets/img/icon-x.svg" alt="" (click)="closeModal()" width="20" class="close-button">
      </div>
      <div class="modal-body d-flex justify-content-center text-center">
        <h5 class="modal-title">¿Olvidaste tu contraseña?</h5>

      </div>
      <div class="modal-body d-flex justify-content-center text-center">
        <p>Ingresa tu email y te enviaremos <br> un correo para recuperarla.</p>
      </div>

      <div class="modal-body d-flex justify-content-center text-center">
        <input type="email" placeholder="usuario@gmail.com">
      </div>
      <div class="modal-footer d-flex justify-content-center text-center">
        <button type="button" class="submit-button">
          Recuperar contraseña
        </button>
      </div>
    </div>
  </div>
</div>
