/* modal-password.component.css */
.modal {
  display: none;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.modal.show {
  display: flex;
}

.close-button {
  cursor: pointer;
  margin-top: -20px;
  margin-right: -20px;
}

.modal-dialog {
  width: fit-content;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
  padding: 20px;
  width: 350px;

}

.modal-body {
  padding: 0px;
}

.modal-footer, .modal-header{
  border: none;
}


.submit-button {
  border: none;
  background-color: #deaeac;
  color: white;
  width: 100%;
  border-radius: 25px;
  margin: 10px;
  font-size: 20px;
  padding: 7px 30px 7px 30px;
}

.modal-title{
  font-weight: bolder;
  font-size: 16px;
}

input{
  width: 85%;
  padding: 5px 10px 5px 10px;
  border: 1px solid #dee2e6 !important;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 430px){
  .modal-content{
    width: auto;
  }
}
