.header-text-club{
  font-weight: bolder;
}

.header-text-company{
  background: #6da5d5;
  color: white;
  padding: 2px 10px 2px 10px;
  border-radius: 20px;
  line-height: 50px;
}

.header-text-benefits{
  border-bottom: 1px solid #deaeac;
}

.main-container{
  background: #6da5d5;
  padding: 40px;
}

.login-title{
  color: #6da5d5;
}

.form-container{
  max-width: 350px;
  padding: 20px;
  border-radius: 15px !important;
}

.submit-button{
  border: none;
  background-color: #deaeac;
  color: white;
  width: 100%;
  border-radius: 25px;
  margin: 10px;
  font-size: 20px;
  padding: 7px;
}

.register-button{
  border: none;
  background-color: #deaeac;
  color: white;
  border-radius: 25px;
  margin: 10px;
  font-size: 20px;
  padding: 7px 20px 7px 20px;
}

.company-text{
  font-weight: bolder;
}



