/* styles.css */

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #deaeac;
  margin-top: auto;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;

}



.copyright {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  color: #ffffff;
}
